* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
	--color1: #1F6EBB;
	--color2: #6998C7;
	--color3: #227ACF;
	--color4: #4890D5;
	--color5: #0E3255;
}
.container {
	padding-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

/* EXAM-LIST */
.container .class-name {
    text-align: center;
    padding: 14px 14px;
    color: var(--color5);
}
.container .exam-list{
    background: var(--color1);
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 14px 20px;
    color: white;
    cursor: pointer;
    justify-content: space-between;
}
.container .exam-list:hover {
    background: var(--color3);
    border: var(--color1) solid 1px;
}
.container .exam-list .status {
    padding-top: 10px;
}
.container .exam-list .edit_question {
    padding-top: 10px;
}
.container .exam-list .edit_question .edit_btn {
    text-decoration: none;
    background: #4CAF50;
    border-radius: 18px;
    padding: 5px 20px 5px 20px;
    color: white;
    margin-bottom: 50px;
}
.container .exam-list .edit_question .remove_btn {
    text-decoration: none;
    background: #D9534F;
    border-radius: 18px;
    padding: 5px 20px 5px 20px;
    color: white;
}
.container .exam-list .edit_question .fake{
    color: white;
}
.container .exam-list .edit_btn:hover {
    background: #3e8e41;
}
.container .exam-list .remove_btn:hover {
    background: #d1332e;
}

/*  */

/* ADD-BUTTON */
.container .add_button a {
    bottom: 2%;
    z-index: 2;
    right: 3%;
    position: fixed;
    float: right;
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 27px;
}
.container .add_button a p {
    padding-top: 6px;
}
.container .add_button a:hover {
    background: darkred;
    width: 43px;
    height: 43px;
}

