* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	--color1: #1F6EBB;
	--color2: #6998C7;
	--color3: #227ACF;
	--color4: #4890D5;
	--color5: #0E3255;
}
/* Container */
main {
	background-image: url("../images/Untitled-1.jpg");
	background-size: cover;
/*	background-attachment: fixed;*/
	box-shadow: 0px 0px 20px 0px black;
}
.container {
	height: 720px;
	margin-left: 10%;
	margin-right: 10%;
}

.container .tag-text {
	padding-top: 60px;
	font-size: 45px;
	color: white;
	padding-bottom: 15px;
	text-shadow: 5px 5px 18px black;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 300;
	width: 70%;
}
.container .tag-detail {
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 200;
	text-align: center;
	width: 60%;
	padding-bottom: 40px;
	font-size: 18px;

}
.container .login-btn {
	padding: 11px 37px;
	font-size: 17px;
	color: white;
	background: var(--color3);
	border-radius: 8px;
	border: white 1px solid;
	cursor: pointer;
}
.container .login-btn a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.container .login-btn:hover {
	background: var(--color2);
}

/* Features */
.features {
	text-align: center;
	margin-top: 30px;
	padding: 0 20% 0 20%;
	box-shadow: 0px 0px 20px 0px black;
	padding-top: 0;
	margin-top: 0;
}
.features h1 {
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
	padding-bottom: 50px;
	padding-top: 30px;
}
.features .feature-box {
	display: flex;
	padding-bottom: 60px;
	justify-content: space-between;
}
.features .feature-box h1 {
/*	color: white;*/
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	padding-top: 100px;
}
.features .feature-box img  {
	padding: 20px;
	width: 300px;
}




/* ABOUT-US */
.about-developers {
	text-align: center;
	margin-top: 60px;
}
.about-developers h1 {
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.about-developers .story {
	padding: 30px 10% 30px 10%;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	padding-bottom: 30px;
}
.about-developers .sec-title {
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 25px;
}
.about-developers .card-container {
	display: flex;
	justify-content: space-between;
	padding: 50px 15%;
}
.about-developers .developer-card {
	width: 250px;
	text-align: center;
}
.about-developers .developer-card button {
	background: var(--color3);
	border-radius: 5px;
	border: none;
	padding: 8px 8px;
	margin-top: 15px;
}
.about-developers .developer-card a {
	text-decoration: none;
	font-size: 18px;
	color: white;
}
.about-developers .developer-card img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.footer {
	background: black;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer h2 {
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	padding: 10px;
}
.footer a {
	padding: 10px;
}
