* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
	--color1: #1F6EBB;
	--color2: #6998C7;
	--color3: #227ACF;
	--color4: #4890D5;
	--color5: #0E3255;
}
.container {
	padding-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

/* QUESTIONS */
.container .exam-name {
    text-align: center;
    padding: 14px 14px;
    color: var(--color5);
}
.container .question {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container .question h2 {
    margin-top: 0;
    padding-bottom: 10px;
}
.container .question label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.container .question .option {
    margin-right: 10px;
    cursor: pointer;
}

.container .question .send-answer {
    margin-top: 10px;
    padding: 10px;
    background: var(--color3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container .question .send-answer:hover {
    background: var(--color2);
}
