{% extends "base.html" %}
{% block title %}Add question{% endblock %} 

{% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/add_question.css">
{% endblock %}


{% block content%}
<div class="add-question">
	<form method="POST">
		<h1 align="center">Add question</h1>
		<label for="class-name">Question</label><br>
		<input type="text" class="add-option question" id="question" name="question" placeholder="Enter Question"/>

		<label for="class-name">Options</label><br>
		<input type="text" class="add-option correct" id="question-option-correct" name="correct-option" placeholder="Enter Correct option"/>

		<input type="text" class="add-option" id="option1" name="option2" placeholder="Enter option 2"/>

		<input type="text" class="add-option" id="option2" name="option3" placeholder="Enter option 3"/>

		<input type="text" class="add-option" id="option3" name="option4" placeholder="Enter option 4"/>


		<br />
		<!-- <input type="button" name="next" value="Next" class="next-btn"> -->
		<button type="submit" class="btn btn-primary" value="next" name="next-btn">Next</button>
		<br>
		<button type="submit" class="btn btn-primary" value="done" name="done-btn">Done</button>

	</form>
</div>
{% endblock %} 
