{% extends "base.html" %}
{% block title %}Edit Exam{% endblock %} 

{% block style %}
<link rel="stylesheet" type="text/css" href="../static/css/add_class.css">
{% endblock %}


{% block content%}
<div class="add-class">
	<form method="POST", enctype="multipart/form-data">
		<h1 align="center">Edit exam</h1>
		<label for="class-name">Exam name</label>
		<input type="text" value="{{edit_exam.name}}" class="form-control" id="exam-name" name="exam-name" placeholder="Enter exam name"/ required>

		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %} 
